---
import { Icon } from 'astro-icon/components';
import type { NavItem } from '~/content/navItems';
import { removeLeadingSlash } from '~/util';
export interface Props {
  currentPageMatch: string;
  navItem: NavItem;
}

const { currentPageMatch, navItem } = Astro.props as Props;
const isHomepage = navItem.path === '/';
const isHomepageMatch = isHomepage && currentPageMatch === '';
const isPageMatch =
  !isHomepage && currentPageMatch.endsWith(removeLeadingSlash(navItem.path ?? ''));
const isStringIcon = typeof navItem.icon === 'string';
const IconComponent = !isStringIcon ? navItem.icon : null;
---

<li class="nav-link">
	<a href={navItem.path} aria-current={`${isHomepageMatch || isPageMatch ? 'page' : 'false'}`}>
		{navItem.icon && isStringIcon && <Icon name={navItem.icon as string} class="left-icon" />}
		{IconComponent && <IconComponent class="left-icon" />}
		<Fragment set:html={navItem.title} />
	</a>
</li>
<style>
	.left-icon {
		min-width: 16px;
		min-height: 16px;
	}

	.nav-link a {
		margin: 0;
		padding: 0.35rem 0.75rem;
		font: inherit;
		font-size: 14px;
		color: var(--theme-text-lighter);
		text-decoration: none;
		display: flex;
		gap: 8px;
		align-items: center;
		white-space: nowrap;
		border-radius: 6px;
		transition: color 0.15s, background-color 0.15s;

		&:hover,
		&:focus {
			color: var(--theme-text);
			background-color: transparent;
		}

		&[aria-current='page'] {
			color: var(--theme-text);
			background-color: rgba(0, 0, 0, 0.05);
			border-radius: 6px;
			font-weight: 400;
			outline: 1px solid transparent;

			&:focus {
				outline: 2px solid;
			}
		}

		@media (forced-colors: active) {
			&[aria-current='page'] {
				border: 1px solid LinkText;
			}
		}
	}
</style>
