---
import { Icon } from 'astro-icon/components';
import { parseProductIcon } from '~/components/ProductIcon';
import ProductIcon from '~/components/ProductIcon.astro';

interface Props {
  title: string;
  path: string;
  icon?: string;
}

const { title, path, icon } = Astro.props;
const productIconName = parseProductIcon(icon);
---

<div class="container">
	<a href={path}>
		<h4>
			{productIconName && (
				<div class="docset-icon">
					<ProductIcon name={productIconName} />
				</div>
			)}
			{!productIconName && icon && (
				<div class="docset-icon">
					<Icon name={icon} />
				</div>
			)}
			<span>{title}</span>
		</h4>
	</a>
	<p>
		<slot />
	</p>
</div>

<style lang="scss">
	.container {
		border: 1px solid var(--theme-border);
		padding: 24px;
		border-radius: 6px;
	}

	a {
		text-decoration: none;
	}

	h4 {
		display: flex;
		align-items: center;

		.docset-icon {
			display: flex;
			align-items: center;
			margin-right: 8px;
		}
	}
</style>
