---
import Button from '../Button.astro';

export interface Props {
  icon: string;
  href: string;
  target?: string;
}

const { href, icon, target } = Astro.props as Props;
---

<div class="header-btn">
	<Button colorScheme="blue" variant="ghost" icon={icon} href={href} target={target}>
		<slot />
	</Button>
</div>

<style is:global>
	.header-btn .button {
		display: flex;
		height: 42px;
		font-size: 14px;
		color: var(--theme-text-lighter);
		white-space: nowrap;
		margin-right: 0.75rem;
		padding: 0 10px;
		background-color: transparent;
		border-radius: 6px;
		transition: color 0.15s, background-color 0.15s;
	}
	.header-btn .button:hover,
	.header-btn .button:focus {
		color: var(--theme-text);
		background-color: transparent !important;
	}
	.header-btn .button a {
		color: inherit;
	}
	.theme-dark .header-btn .button {
		color: var(--theme-text-lighter);
	}
	.theme-dark .header-btn .button:hover,
	.theme-dark .header-btn .button:focus {
		color: var(--theme-text);
	}
	.header-btn:last-of-type .button {
		margin-right: 0;
	}
	.header-btn .button a {
		gap: 0.5rem;
	}
	.header-btn .button svg {
		width: 16px;
		height: 16px;
	}

	@media (max-width: 87em) {
		.header-btn .button {
			margin-right: 0.5rem;
		}
	}
</style>
