---
import Button from '../Button.astro';

export interface Props {
  icon: Function;
  href: string;
}

const { href, icon } = Astro.props as Props;
---

<div class="header-btn">
	<Button colorScheme="blue" variant="ghost" icon={icon} href={href}>
		<slot />
	</Button>
</div>

<style is:global>
	.header-btn .button {
		display: flex;
		height: 42px;
		font-size: var(--theme-text-md);
		color: var(--theme-text-light);
		white-space: nowrap;
		margin-right: 0.75rem; /* ensure space between consecutive header links */
		padding: 0 10px; /* slightly tighter overall */
	}
	.header-btn:last-of-type .button {
		margin-right: 0;
	}
	.header-btn .button a {
		gap: 0.5rem;
	}
	.header-btn .button svg {
		width: 16px;
		height: 16px;
	}

	@media (max-width: 87em) {
		.header-btn .button {
			margin-right: 0.5rem;
		}
	}
</style>
