---
import Aside from './Aside.astro';
---

<Aside type="note">
	Ensure your application key with <code>ci</code> scope (<code>MERGIFY_TOKEN</code>) is set up as
	explained in the
	<a href="/ci-insights#enabling-ci-insights-for-github">installation docs</a>.
</Aside>
