---
import { Icon } from 'astro-icon/components';

export interface Props {
  href: string;
  icon: string | ((_props: unknown) => unknown);
}

const { href, icon } = Astro.props as Props;
const isStringIcon = typeof icon === 'string';
const IconComponent = !isStringIcon ? icon : null;
---

<a href={href} class="community-button">
	{!!icon && isStringIcon && <Icon name={icon as string} />}
	{IconComponent && <IconComponent />}
</a>

<style lang="scss">
	.community-button {
		font-size: x-large;
		width: 40px;
		height: 40px;
		display: flex;
		border-radius: 6px;
		transition: background 0.2s;

		&:hover {
			background: var(--chakra-colors-gray-100);
		}

		& > svg {
			margin: auto;
			vertical-align: middle;
		}
	}
</style>
